{% verbatim %}
<!doctype html>
<html lang="en" ng-app="phonecatApp">
   <head>
      <script src="/static/js/libs/angular.min.js"></script>
      <script src="/static/js/controllers/app.js"></script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
      <title>Podcasts</title>
      <link rel="shortcut icon" href="/static/images/logo.png">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-red.min.css" />
      <link rel="stylesheet" href="/static/css/styles.css">
      <style>
         #view-source {
         position: fixed;
         display: block;
         right: 0;
         bottom: 0;
         margin-right: 40px;
         margin-bottom: 40px;
         z-index: 900;
         }
      </style>
   </head>
   <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" ng-controller="PhoneListController as controller">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
         <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
               <h1>Podcasts</h1>
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
               <a href="index" class="mdl-layout__tab is-active">HOME</a>
               <a href="cadastroPodcast" class="mdl-layout__tab" ng-if="controller.login">Cadastro</a>
               <!--<a href="favoritos" class="mdl-layout__tab" ng-if="controller.login">Favoritos</a>
               <a href="votosPodcast" class="mdl-layout__tab" ng-if="controller.login">Votos</a>-->
            </div>
         </header>
         <main class="mdl-layout__content" ng-repeat="jingle in controller.jingles">
            <div class="mdl-layout__tab-panel is-active" id="overview">
               <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white" ng-click="controller.teste(jingle.id)">
                     <i class="material-icons" ng-if="controller.playing!=jingle.id">play_circle_filled</i>
                     <i class="material-icons" ng-if="controller.playing==jingle.id">pause_circle_filled</i>
                  </header>
                  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                     <div class="mdl-card__supporting-text">
                        <h4>{{jingle.jnome}} <a style="cursor:pointer;" class="material-icons" ng-if="controller.login == jingle.usuario_id" ng-click="controller.deletarJingle(jingle.id)">delete_forever</a></h4> 
                        
                        {{jingle.texto}}<br><br>
                        <audio controls id="jingle-{{jingle.id}}"><source src="{{ jingle.url }}" type="audio/mpeg"></audio>
                     </div>
                     <div class="mdl-card__actions">
                        <b>Autor:</b> {{jingle.jautor}} <br>
                        <b>Categoria:</b> {{jingle.categoria}}
                     </div>
                  </div>
               </section>
            </div>
         </main>
      </div>
      <a href="login" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" ng-if="!controller.login">LOGIN</a>
      <a ng-click="controller.logout()" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" ng-if="controller.login">LOGOUT</a>
      <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
   </body>
</html>
{% endverbatim %}