{% verbatim %}
<html ng-app="phonecatApp">
<head>
  <script src="/static/js/libs/angular.min.js"></script>
  <script src="/static/js/controllers/app.js"></script>
</head>
<body ng-controller="PhoneListController as controller">
	<table border='1'>
		<tr>
			<td colspan=6 align='center'><font size='5'>Usuarios</font></td>
		</tr>
		<tr>
			<th>ID</th>
			<th>login</th>
			<th>nome</th>
			<th>senha</th>
			<th>email</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="user in controller.users">
			<td>{{user.id}}</td>
			<td>{{user.login}}</td>
			<td>{{user.nome}}</td>
			<td>{{user.senha}}</td>
			<td>{{user.email}}</td>
			<td><button ng-click="controller.deletarUsuario(user.id)">Deletar</button></td>
		</tr>
	</table>

	<button ng-click="controller.botao()">botao</button>

	<br>
	<br>

	<table border='1'>
		<tr>
			<td colspan=3 align='center'><font size='5'>Categorias</font></td>
		</tr>
		<tr>
			<th>ID</th>
			<th>nome</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="category in controller.categories">
			<td>{{category.id}}</td>
			<td>{{category.nome}}</td>
			<td><button ng-click="controller.deletarCategoria(category.id)">Deletar</button></td>
		</tr>
	</table>

	<br>
	<br>

	<table border='1'>
		<tr>
			<td colspan=8 align='center'><font size='5'>Jingles</font></td>
		</tr>
		<tr>
			<th>ID</th>
			<th>nome</th>
			<th>autor</th>
			<th>texto</th>
			<th>usuario</th>
			<th>categoria</th>
			<th>link</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="jingle in controller.jingles">
			<td>{{jingle.id}}</td>
			<td>{{jingle.jnome}}</td>
			<td>{{jingle.jautor}}</td>
			<td>{{jingle.texto}}</td>
			<td>{{jingle.usuario_id}}</td>
			<td>{{jingle.categoria_id}}</td>
			<td><audio controls id="{{jingle.id}}"><source src="{{ jingle.url }}" type="audio/mpeg"></audio></td>

			<td><button ng-click="controller.deletarJingle(jingle.id)">Deletar</button></td>
		</tr>
	</table>

	<form action="/list/jingles" method="post" enctype="multipart/form-data">

		<br>
        
		<table border='1'><tr><td colspan="2" align="center">
	        Upload de Jingle</td></tr><tr><td>

	        
	            nome: </td><td> <input type="text" name="jnome" required id="jnome" />
	        </td></tr><tr><td>
	            autor: </td><td> <input type="text" name="jautor" required id="jautor" />
	        </td></tr><tr><td>
	            texto: </td><td> <input type="text" name="texto" required id="texto" />
	        </td></tr><tr><td>
	            categoria: </td><td> <input type="text" name="categoria_id" required id="categoria_id" value='1'/>
	        </td></tr><tr><td>
	            usuario: </td><td> <input type="text" name="usuario_id" required id="usuario_id"  value='1' />
	        </td></tr><tr><td>
	            arquivo: </td><td> <input type="file" name="docfile" required id="id_docfile" />
			</td></tr><tr><td colspan="2" align="center">

	        	<input type="submit" value="Enviar"/>
	        </td></tr>
        </table>
    </form>

</body>
</html>
{% endverbatim %}